
<br>
<table class="table" id="table">
    <thead>
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Contact </th>
            <th scope="col"> Source file </th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
            <tr>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{contact}}</td>
                {{#if addedBy.name}}
                    <td>{{addedBy.name}}</td>
                {{else}}
                    <td>Added Manually</td>
                {{/if}}
            </tr>
        {{/each}}
    </tbody>
</table>
<br><br><br>
